.navbar {
  transition: all 1s;
  animation: dropDown linear 500ms;
}

.jumbotron--fade-in {
  transition: all 1s;
  animation: fadeIn linear 500ms;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes dropDown {
  0% { 
    transform: translateY(-100%);
  }
  100% { 
    transform: translateY(0);
   }
}

